body,html {
  height: 100%;
  background-color:#F0F8FF;
}
/* COLUMN/CONTAINERS */
.col-8,.col-sm-9,.col-4, .col{
  /* border: 2px solid black; */
}
/*CARD FEATURES  */
.card-header{
  padding-top: 75px;
  background-color:#F0F8FF;
  border: none;
}
.card{
  border: none;
  width: 500px;
  height: 625px;
  background-color:#F0F8FF;
  border: 5px solid #81D8D0;
}
.entire-card{
  width: 500px;
  margin: auto;
  box-shadow:5px 4px 20px #000000;
}
/*TEXT */
h5,p{
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(48,48,48);
}
/*SALAD BOWL TITLE */
.SaladBowlTitle{
  font-family: 'IBM Plex Sans', sans-serif;
  width: 400px;
  color: #81D8D0;
  font-size: 4rem;
  border: 5px solid #81D8D0;
  box-shadow: 5px 4px 20px #81D8D0;
  margin: auto;
  transition: all 1s;
}
.SaladBowlTitle:hover {
  transform: scale(1.05);
  box-shadow: 10px 8px 150px #81D8D0;
}
/*ACTIVE NAV PILL FEATURES  */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #F0FFFF;
    background-color: #81D8D0;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 15px;
    box-shadow: 5px 4px 20px #81D8D0;
    transition: all 1s;
}
.nav-pills .nav-link.active:hover, .nav-pills .show > .nav-link:hover {
  transform: scale(1);
  box-shadow: 5px 4px 20px #81D8D0;
  background-color: #81D8D0;
  color: #F0F8FF;
}
/*INACTIVE NAV PILL FEATURES */
.nav-pills .nav-link, .nav-pills > .nav-link{
  color:grey;
  font-size: 3em;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 15px;
  transition: all 1s;
}
.nav-pills .nav-link:hover, .nav-pills > .nav-link:hover{
  transform: scale(1.05);
  box-shadow: 10px 8px 150px #000000;
  background-color: #F0F8FF;
  color: #81D8D0;
}
/* FADE FOR CARD BODY */
.fade {
  transition-duration: .5s;
}
